{% extends "base.html" %}
{% load static %}

{% block title %}
Shrey's Blog Site
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static "blog/index.css" %}">
{% endblock %}

{% block content %}
<section id="welcome">
    <header>
        <h1>Shrey's Cricket Blog</h1>
    </header>
    <p>
        Hi, I am Shrey and I love to play cricket.
    </p>
</section>

<section id="latest-posts">
    <h2>My Favourite Player</h2>
    <ul>
        <li>
            <article class="post">
                <div class="post__content">
                    <h3>Rohit Sharma</h3>
                    <p>
                        My favourite player is Rohit Sharma. 
                    </p>
                </div>
            </article>
        </li>
       
    </ul>
</section>

<section class="about">
    <h2>About Me</h2>
    <p>
        I love to write programs and love to play cricket.
    </p>
    <p>
        My goal is to be good at both programming and cricket.
    </p>
</section>
{% endblock %}
